page-client-view-home {

  ion-card ion-card-header {
    background-color: #ff0000;
  }
  ion-item {
    background-color: #ff0000;
    color: black;
  }
  button {
    margin-top: 20px;
    background-color: #ff000;
    color: white;
  }
  .bg-red{
    background-color: #ff0000;
    color: #ffffff;
  }

}
